* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    position: static;
    height: 75px;
}
.nav-bar{
    width: 100%;
    min-height: 50px;
    background-color: #0d1117;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar:hover{
    cursor: pointer;
}

.left-navbar{
    display: flex;
    justify-content:space-between;
}
.left-navbar img{
    padding-top: 5px;
    width: 20px;
    height: 25px;
}
.left-navbar span{
    font-size: 20px;
    color: #c2cfe4;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 20px;
}


.tabs ul {
    display: flex;
    justify-content: center;
    list-style: none; /* Remove default list styling */
    padding: 25px; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.tabs ul li{
    padding-left: 20px;
    color: #9ba3b4;
}

.tabs ul :hover{
    cursor: pointer;
    color: #fff;
}

.right-navbar{
    padding: 20px;
    color: #c3d0e5;
    size: 2px;
    display: flex;
    justify-content: space-between;
}

.btn a{
    text-decoration: none;
    font-family: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #0069b9;
    color: #fff;
}


